/* Variables and theme tokens */
:root {
  --accent: 105, 105, 105; /* Dim Gray */
  --accent-light: 169, 169, 169; /* Dark Gray */
  --accent-dark: 47, 79, 79; /* Dark Slate Gray */
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    gray 60%
  );
}
