---
import Layout from '../layouts/Layout.astro';
---

<Layout title="No, Wildo!">
	<main>
		<img class="astro-image" src="/nw_mock_white.png" alt="No, Wildo!" />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		padding: 0 1rem;
	}
	.astro-image {
		width: 60dvw;
		height: 60dvw;

		max-width: 400px;
		max-height: 400px;

		@media (min-width: 560px) {
            width: 50dvw;
            height: 50dvw;
        }

	}
</style>
