---
import TwitchEmbed from '../components/TwitchEmbed.jsx';
import Layout from '../layouts/Layout.astro';
const canal = "nowildo";
---

<Layout title="NoWildo">
	<div class="hero-section">
		<h1>Hola! Soy NoWildo</h1>
		<p>Transmisión en vivo de juegos y más</p>
	</div>
	<div class="stream-container">
		<TwitchEmbed client:load channel={canal} width="100%" height={480} />
	</div>
</Layout>

<style>
	.stream-container {
		padding: 16px;
		max-width: 1200px; /* Opcional: para limitar el ancho máximo en pantallas grandes */
		margin: 0 auto; /* Opcional: para centrar el contenedor */
		border: 2px solid #49927e;
	}
</style>
