---
---

<header class="site-header" role="banner">
  <div class="brand">
    <a href="/" aria-label="Ir a la página de inicio de NoWildo">
      <img 
        src="/logo.png" 
        alt="Logo de NoWildo - Streamer de juegos" 
        height="62" 
        width="62"
        class="logo" 
      />
    </a>
  </div>
</header>